# CI_ENVIRONMENT = production
CI_ENVIRONMENT = development

#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------
apiURL = 'https://tobasurimi-api.lyrid.id'
SITE_TITLE = "Toba Surimi Industries"
app.baseURL = 'https://tobasurimi.lyrid.id'
# If you have trouble with `.`, you could also use `_`.
# app_baseURL = ''
# app.forceGlobalSecureRequests = false

# app.sessionDriver = 'CodeIgniter\Session\Handlers\FileHandler'
# app.sessionCookieName = 'ci_session'
# app.sessionExpiration = 7200
# app.sessionSavePath = null
# app.sessionMatchIP = false
# app.sessionTimeToUpdate = 300
# app.sessionRegenerateDestroy = false

# app.CSPEnabled = false

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------

 database.default.hostname = 
 database.default.database = 
 database.default.username = 
 database.default.password = 
 database.default.DBDriver = 
 database.default.DBPrefix =
 database.default.port = 
