/* =====***** PAGE LOGIN REGISTER *****===== */

.login-register-title {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.775);
  font-size: 25px;
}

.input-group-text-login-register {
  height: 100%;
}

.icon-login-register {
  color: #ffffff;
}

.group-prepend-login-register {
  height: 58px;
  border: 1px #2f4858 solid;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.group-prepend-password-login-register {
  height: 58px;
  border: 1px #a5ae9d solid;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.input-group-login-register {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.bg-login-register {
  background-size: cover;
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif !important;
  background: #2f4858;
  background-image: url("/../assets/img/bg_login.jpg");
}

.bg-login-register .card.card-login-register {
  background: #ffffff;
  box-shadow: none;
  border-radius: 8px;
  border: 0px #e7323a solid;
}

.bg-login-register .card.card-login-register .card-body img {
  width: 100%;
}

.bg-login-register .card.card-login-register .card-body h4 {
  color: #a5ae9d !important;
  margin-left: 15px;
  margin-bottom: 0px;
}

.group-prepend-login-register .input-group-text {
  font-size: 13px;
  background-color: #2f4858;
  padding: 0.375rem 1.25rem;
  border: 0px solid #e7323a;
  border-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.group-prepend-password-login-register .input-group-text {
  font-size: 13px;
  line-height: 1.8;
  color: #e7323a;
}

.bg-login-register
  .card.card-login-register
  .card-body
  form.user
  .form-floating
  .text-danger {
  font-size: 11px;
  font-weight: 500;
  color: #e7323a !important;
}

.bg-login-register
  .card.card-login-register
  .card-body
  form.user
  .form-floating
  label {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.8;
  color: #2f4858;
}

.bg-login-register
  .card.card-login-register
  .card-body
  form.user
  .form-floating
  .form-control {
  font-size: 13px;
  font-weight: 500;
  color: #2f4858 !important;
  border: 1px #a5ae9d solid;
  border-left: 0px;
}

.bg-login-register
  .card.card-login-register
  .card-body
  form.user
  .form-floating
  .username {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.bg-login-register
  .card.card-login-register
  .card-body
  form.user
  .form-floating
  .password {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-right: 0px;
}

.bg-login-register
  .card.card-login-register
  .card-body
  form.user
  .form-floating
  .input-group-append
  .input-group-text {
  border-radius: 0px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  color: #559884 !important;
}

.bg-login-register
  .card.card-login-register
  .card-body
  form.user
  .form-floating
  .form-control:focus {
  box-shadow: none !important;
}

.bg-login-register
  .card.card-login-register
  .card-body
  .btn.btn-login-register {
  background-color: #e7323a;
  border-radius: 6px;
  height: 58px;
  font-size: 13px;
  letter-spacing: 0;
  color: #fff;
  font-weight: 600;
  box-shadow: none !important;
  border: 0px #559884 solid;
}

.bg-login-register
  .card.card-login-register
  .card-body
  form.user
  .btn.btn-login-register:hover,
.bg-login-register
  .card.card-login-register
  .card-body
  .btn.btn-login-register:focus,
.bg-login-register
  .card.card-login-register
  .card-body
  form.user
  .btn.btn-login-register:active {
  opacity: 0.82;
  transition: 0.3s ease-in;
}

/* =====***** POP-UP MODAL *****===== */

.swal2-popup {
  border-radius: 6px !important;
}

.swal2-icon.swal2-error {
  border-color: #c35355 !important;
  color: #c35355 !important;
}

.swal2-icon.swal2-error [class^="swal2-x-mark-line"] {
  background-color: #c35355 !important;
}

#swal2-html-container {
  font-size: 14px;
  font-weight: 400;
  color: #657c74;
  font-family: "Poppins", sans-serif !important;
}

h2.swal2-title {
  font-size: 14px;
  font-weight: 600;
  color: #657c74;
  font-family: "Poppins", sans-serif !important;
}

.swal2-confirm.swal2-styled {
  background-color: #c35355 !important;
  border-radius: 6px !important;
  height: 40px;
  font-size: 14px !important;
  letter-spacing: 0.8px;
  color: #fff !important;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: none !important;
  border: 1px transparent !important;
  min-width: 100px;
  font-family: "Poppins", sans-serif !important;
}

.swal2-cancel.swal2-styled.swal2-default-outline {
  background-color: #c35355 !important;
  border-radius: 6px !important;
  height: 40px !important;
  font-size: 14px !important;
  letter-spacing: 0.8px !important;
  color: #fff !important;
  text-transform: uppercase !important;
  font-weight: 600 !important;
  box-shadow: none !important;
  border: 1px transparent !important;
  min-width: 100px !important;
  font-family: "Poppins", sans-serif !important;
}
